// -----------------------------------------------
// Imports ///////////////////////////////////////
// -----------------------------------------------
@import '../../global';

// -----------------------------------------------
// Styling ///////////////////////////////////////
// -----------------------------------------------
footer {
  // Dimensions
  height: 50px;
  // Layout
  display: grid;
  place-items: center;
  // Styling
  border-top: 1px solid GetColor(8);
  background: GetColor(7);
  // Children
  a {
    font-size: 70%;
    text-decoration: none;
    color: GetColor(4);
  }
}
