// -----------------------------------------------
// Imports ///////////////////////////////////////
// -----------------------------------------------
@import '../../global';

// -----------------------------------------------
// Styling ///////////////////////////////////////
// -----------------------------------------------
nav {
  // Styling
  display: flex;
  overflow: hidden;
  background-color: $MenuColor;
  &.navClosed { height: 0px; }
  // Children
  div.navItem { 
    padding: 10px; 
    &:hover {
      background-color: lighten($MenuColor, 5%);
    }
    // Children
    a {
      color: inherit;
      text-decoration: inherit;
      &.navSelected {
        color: White;
      }
    }
  }
  
  div.navHideItem { display: none; }
  // Visibility
  &.navNotVisible { display: none; }
}
